<article>
  <h1><%= joke.question %></h1>
  <h2><%= joke.answer %></h2>
  <p>That was a <%= joke.rating %>/5 joke by <%= joke.author_name %></p>
  <a href="/jokes/<%= joke.id %>">Permalink</a>
</article>