<html>
  <head>
    <title>Info for user: <%= user.name %></title>
  </head>
  <body>
    <header>
      <h1>User id: <%= user.id %></h1>
    </header>
    <main>
      <p>Name: <%= user.name %></p>
      <p>Description: <%= user.description %></p>
    </main>
    <footer>
      <p>Copyright <%= currentYear %></p>
    </footer>
  </body>
</html>
